   
</main>

   <!-- Footer -->
    <footer class="footer">
        <p>&copy<script>document.write(new Date().getFullYear())</script>
        <span class="footer-logo">YourRecipes</span>
      created by Alekzandra</p>
      </footer>


</body>
</html>